<div class="panel">
  <div class="job_deets">
    <strong><%= @job.title %></strong>
    <p><%= @job.company %></p>
    <p><%= @job.description %></p>
    <%= link_to "View Job", @job.url, target: "_blank" %>
    <% if current_user == @job.user %>
    |<%= link_to 'Remove Job', job_path(@job.job_key), method: :delete %> |
    <%= link_to "Edit Job", edit_job_path(@job) %>
    <p><%= render "trackers/form" %></p>
    <% end %>
  </div>
</div>

<div class ="row">
  <%= render "comments/form" %>
</div>

<% if @comments %>
  <% @comments.each do |comment| %>
    <div class="panel callout radius">
      <%= comment.body %>
      <div class="row push-10">
        <%= comment.user.name %>
      </div>
    </div>
  <% end %>
<% end %>
