
<div class="form">
<%= form_for("searches#index", method: "get") do %>
  <div class="inline">
    <label class="orange" for="What">what:</label>
    <%= text_field_tag(:q) %>
  </div>
  <div class="inline">
    <label for="Where">where:</label>
    <%= text_field_tag(:l) %>
  </div>
  <div class="inline_search">
    <%= submit_tag("Find Jobs") %>
  </div>
  <% end %>
</div>
<ul>
  <% @results.each do |job| %>
    <div class="panel callout radius">
      <p>
        <b><%= link_to job.job_title, job.url, target: "_blank" %></b>
      </p>
      <p><%= job.company %></p>
      <p><%= job.formatted_location %></p>
      <p><%= job.snippet %></p>
      <p><%= link_to "Add job", {:controller => "jobs", :action => "create", :job => job.job_key } %></p>
    </div>
  <% end %>
</ul>
<%= paginate @results %>
