<%= form_for [@job, @tracker] do |f| %>
<div class="row">
<div class="medium-5 large-5 columns">
  <%= f.label :applied, "Applied:" %>
  <%= f.check_box :applied %><br>

  <%= f.label :followup, "Requires Follow-up:" %>
  <%= f.check_box :followup %><br>

  <%= f.label :interviewed, "interviewed:" %>
  <%= f.check_box :interviewed %><br>
  <div class="text_field">
    <%= f.label :notes, "Notes:" %>
    <%= f.text_area :notes %>
  </div>
</div>
</div>

<div class="row">

<div class="medium-2 large-2 push-8 columns">
  <%= f.submit (f.object.new_record? ? "Save" : "update"),
    class: "button tiny success" %>
</div>
</div>
<%-end-%>
