<%= form_for [@job, @tracker] do |f| %>
  <div class="row">
    <div class="large-10 columns">
      <div class="panel">
        <%= f.check_box :applied %>
        <%= f.label :applied, "Applied" %>
        <%= f.check_box :followup %>
        <%= f.label :followup, "Requires Follow-up" %>
        <%= f.check_box :interviewed %>
        <%= f.label :interviewed, "interviewed" %>
      </div>
      <div class="text_field">
        <%= f.label :notes, "Notes:" %>
        <%= f.text_area :notes %>
      </div>
    </div>
  </div>


  <div class="medium-2 large-2 push-8 columns">
    <%= f.submit (f.object.new_record? ? "Save" : "update"),
      class: "button tiny success" %>
  </div>

<%-end-%>
