<!DOCTYPE html>
<html>
<head>
  <title>Huntrack</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Huntrack</a></h1>
      </li>
    </ul>


    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

    <strong class="hide-for-small-only">
       <div  class="small-3 column" id="magellan_bar">
        <ul class="magellan tabs vertical" data-magellan-expedition="fixed" id="magellan_bar">
          <li data-magellan-arrival="grid"><%= link_to "My_Jobs", jobs_path %></li>
          <li data-magellan-arrival="tabs"><%= link_to "Add_Job", new_job_path %></li>
          <li data-magellan-arrival="buttons"><a href="#buttons">Buttons</a></li>
        </ul>
      </div>
    </strong>

    <div class="container">
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>
    <div class="large-8 push-1 column">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
